// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  margin: 0 auto;
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  background-color:#ffffffc7;
  border: 2px solid black;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}


.form form input{
  padding: 10px;
  border: 0.5px solid #182956ab;
  /*background: transparent;*/
  width: 100%;
}

.form form textarea{
  padding: 10px;
  border: 0.5px solid #182956ab;
  background: transparent;
  width: 100%;
  min-height: 20vh;
}

body {
  background-color: #0ef34865;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #182956;
 
}
 textarea {
  width: 350px;
  height: 7em;
  line-height: 1.5em;
  }

#form-controll{
  width: 200px;
}
.field_with_errors {
  display: inline;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
#error_explanation {
  margin-left: auto;
  margin-right: auto;
}

footer{
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 2px 0;

position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


.field_with_errors {
  display: inline;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
#error_explanation {
  margin-left: auto;
  margin-right: auto;
}